<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Online Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Online Store - Menu</h1>
    <ul class="menu">
        <li><a href="{{ url_for('product_list') }}">Xem sản phẩm</a></li>
        <li><a href="{{ url_for('cart') }}">Giỏ hàng</a></li>
        <li><a href="{{ url_for('search') }}">Tìm kiếm sản phẩm</a></li>
        <li><a href="{{ url_for('product_admin') }}">Quản lý sản phẩm (Admin)</a></li>
        <li><a href="{{ url_for('users') }}">Quản lý tài khoản</a></li>
        <li><a href="{{ url_for('login') }}">Đăng nhập</a></li>
        <li><a href="{{ url_for('logout') }}">Đăng xuất</a></li>
    </ul>
</body>
</html>
