<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Danh sách sản phẩm</h2>
    <table>
        <tr>
            <th>Tên</th><th>Loại</th><th>Giá</th><th>Còn lại</th><th>Mô tả</th><th>Hành động</th>
        </tr>
        {% for p in products %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.category }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.description }}</td>
            <td>
                <a href="{{ url_for('add_to_cart', id=p._id) }}">Thêm vào giỏ</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Về menu</a>
</body>
</html>
