<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sinh viên giỏi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <h2>Danh sách sinh viên giỏi (GPA ≥ 8)</h2>
    <table border="1">
        <tr>
            <th>Họ tên</th>
            <th>GPA</th>
        </tr>
        {% for s in students %}
        <tr>
            <td>{{ s.name }}</td>
            <td>{{ s.gpa }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Về menu</a>
</body>
</html>
